@import "~onsenui/css-components-src/src/theme";

.onsenuiModule {
  @import "~onsenui/css-components-src/src/components/alert-dialog";
  @import "~onsenui/css-components-src/src/components/action-sheet";
}

.modalContainer .action-sheet {
  max-width: 640px;
  margin-right: auto;
  margin-left: auto;
}
.modalContainer .alert-dialog {
  background-color: hsla(0, 0%, 100%, 0.92);
}
